*{
    margin: 0px;
    padding: 0px;
    /* background-color: blanchedalmond; */
}

#navbar {
  display: flex;
  height: 75px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(0 0 0 / 10%),
    0 2px 20px 0 rgb(0 0 0 / 20%);
}

#nlogo {
  width: 20%;
  /* border: 1px solid blue; */
}

#nlogo img {
  padding-left: 15px;
  /* padding-top: 25px; */
  width: 70px;
}

#mid {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  /* border: 1px solid blue; */
}

#mid>div,
#last>div {
  /* border: 1px solid red; */
  margin-top: 20px;
  font-size: 12px;
  /* font-weight: 700; */
  line-height: 24px;
}

#mid>div:hover,
#nlogo:hover {
  background-color: rgb(214, 227, 241);
}
#last {
  display: flex;
  justify-content: center;
  width: 35%;
  /* border: 1px solid blue; */
}

#last img {
  margin-top: 20px;
  height: 25px;
  width: 25px;
  margin-right: 20px;
}
#cart{
   margin-top: 20px;
  height: 25px;
  width: 25px;
  margin-right: 40px;
  font-size: 28px;
}
#pay{
  margin-top: 20px;
  height: 25px;
  width: 25px;
  margin-right: 40px;
  margin-left: 40px;
  font-size: 30px;
}

.hover1 {
  display: none;
  width: 50%;
  margin: auto;
  position: absolute;
  top: 5%;
  right: 30%;
  z-index: 1000;
  grid-template-columns: repeat(4, 1fr);
  background-color: whitesmoke;
  font-size: 15px;
  border-radius: 20px;
}

.hover1 h4 {
  color: rgb(168, 162, 162);
}

.hover2 {
  display: none;
  width: 50%;
  margin: auto;
  position: absolute;
  top: 5%;
  right: 30%;
  z-index: 1000;
  padding-left: 60px;
  grid-template-columns: repeat(4, 1fr);
  background-color: whitesmoke;
  font-size: 13px;
  border-radius: 20px;
}

.hover2 h4 {
  color: rgb(140, 135, 135);
}

.cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2px;
    
    width:100%;
    text-align: center;
    margin: auto;
}
.cont img{
    width: 90%;
    height: 90%;
    
}

.cont div:hover{
    transform: scale3d(1.05,1.05,1.05);
}

nav {
    background-color: #333;
    color: #fff;
  }
  
  nav a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #555;
  }

  
  /* /////swipper */

  .swiper {
    width: 97%;
    height: 30%;
    padding-top: 20px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
  }



  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
/* ////////   */


.banner{
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}