.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    overflow: hidden;
    
}
.container div{
    width: 94%;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
text-align: center;
}
.container img{
    width: 50%;
}
.container button{
    margin-bottom: 20px;
}

.maincont{
    display: flex;
}
#filter{
    margin: 10px 0px 10px 0px;
}
#country{
    margin-top: 100px;
    width: 150px;
    padding: 5px;
    display: flex;
}
#rating{
    padding: 5px;
}
#price{
    padding: 5px;
}