#navbar {
    display: flex;
    height: 75px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%), 0 1px 2px 0 rgb(0 0 0 / 10%),
      0 2px 20px 0 rgb(0 0 0 / 20%);
  }
  
  #nlogo {
    width: 20%;
    /* border: 1px solid blue; */
  }
  
  #nlogo img {
    padding-left: 15px;
    /* padding-top: 25px; */
    width: 70px;
  } 
  
  #mid {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    /* border: 1px solid blue; */
  }
  
  #mid>div,
  #last>div {
    /* border: 1px solid red; */
    margin-top: 20px;
    font-size: 12px;
    /* font-weight: 700; */
    line-height: 24px;
  }
  
  #mid>div:hover,
  #nlogo:hover {
    background-color: rgb(214, 227, 241);
  }
  #last {
    display: flex;
    justify-content: center;
    width: 35%;
    /* border: 1px solid blue; */
  }
  
  #last>img {
    margin-top: 20px;
    height: 25px;
    width: 25px;
    margin-right: 20px;
  }


  .hover1 {
    display: none;
    width: 50%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    background-color: whitesmoke;
    font-size: 15px;
    border-radius: 20px;
  }
  
  .hover1 h4 {
    color: rgb(168, 162, 162);
  }
  
  .hover2 {
    display: none;
    width: 50%;
    margin: auto;
    padding-left: 60px;
    grid-template-columns: repeat(4, 1fr);
    background-color: whitesmoke;
    font-size: 13px;
    border-radius: 20px;
  }
  
  .hover2 h4 {
    color: rgb(140, 135, 135);
  }
  








.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    overflow: hidden;
    
}
.container div{
    width: 94%;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
text-align: center;
}
.container img{
    width: 50%;
}
.container button{
    margin-bottom: 20px;
}

.maincont{
    display: flex;
}
#filter{
    margin: 10px 0px 10px 0px;
}
#country{
    margin-top: 100px;
    width: 150px;
    padding: 5px;
    display: flex;
}
#rating{
    padding: 5px;
}
#price{
    padding: 5px;
}